<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>{{#link-to "qwizbooks.index"  class="active" }}Qwizbooks{{/link-to}}</li>
      <li><a>Qwizbook</a></li>
      <li><a>Edit Section</a></li>
    </ol>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="pull-right">
      <div class="btn-group btn-addSection" role="group">
        <button type="button" class="btn btn-default btn-danger" {{action "editPages"  }}>Edit Pages</button>
      </div>
    </div>
  </div>
</div>

{{partial "qwizbook-sections/form"}}


{{outlet}}
