html, body {
  margin: 20px;
}


body {
  padding-top: 50px;
}

/*
  Application Index Route
*/

.qwizkool-banner-img {
  font-size: 15em;
}

.qwizkool-banner-quote {
  margin-top:10px;
  border-left: none
}


/*
  Qwizbooks Routes
*/
.search-control {

}

.qwizbook-summary-item {
  padding:10px;
}

.center-block {
  float: none;
  padding-bottom: 10px;
}

/* for the qwizbook summary item display*/
.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}


.qwizbook-detail {
  padding:10px;
}

.btn-toolbar {
  padding-top:5px;
}

/* Bootstrap override */
.breadcrumb {
  background: rgba(255, 255, 255, 1);
  padding: 20px 0px;
}
