<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>{{#link-to "qwizbooks.index"  class="active" }}Qwizbooks{{/link-to}}</li>
      <li><a>Qwizbook</a></li>
      <li><a>Section</a></li>
      <li><a>Edit Page</a></li>
    </ol>
  </div>
</div>

{{partial "qwizbook-pages/form"}}
{{partial "qwizbook-pages/page-preview"}}
