<div class="container">
  <div class="row">
    <ol class="breadcrumb">
      <li>{{#link-to "qwizbooks.index"  class="active" }}Qwizbooks{{/link-to}}</li>
      <li><a>Qwizbook</a></li>
      <li><a>Edit Qwizbook</a></li>
    </ol>
  </div>
</div>

{{partial "qwizbooks/form"}}

<div class="container">
  <div class="row">
    <div class="btn-group btn-addSection" role="group">
      <button type="button" class="btn btn-default btn-danger" {{action "addNewSection" this }}>Add Section</button>
    </div>
  </div>
</div>

{{outlet}}
