
<div class="container">
<div class="row">
  <ol class="breadcrumb">
    <li>{{#link-to "qwizbooks.index"  class="active" }}Qwizbooks{{/link-to}}</li>
    <li><a>Add a new Qwizbook</a></li>
  </ol>
</div>
</div>

{{partial "qwizbooks/form"}}
