<div class="container">
    <div class="row">
      <div class="center-block col-xs-12 col-sm-12 col-md-12">
        <ul class="nav nav-pills ">
          <li role="presentation" class="active"><a href="#">Featured</a></li>
          <li role="presentation"><a href="#">Categories</a></li>
          <li role="presentation"><a href="#">Search</a></li>
        </ul>
      </div>
    </div>
  <div class="row well">
      <div class="input-group search-control">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
</div><!-- /input-group -->
</div><!-- /container -->


{{outlet}}
